body {
    background-color: #7c6c82;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #bff0ec;
}

h1 {
    color: #7c6c82;
    font-family: 'Source Code Pro', monospace;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    text-shadow: 2px 2px #2e3351;

}

.gameBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    color: #bff0ec;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gameButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}



button {
    display: block;
    background-color: #7c6c82;
    border: solid 10px #7c6c82;
    border-radius: 40px;
    color: #bff0ec;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    margin: 20px auto 20px auto;
    box-shadow: 5px 10px 18px #2e3351;
}

button:hover {
    background-color: #bff0ec;
    color: #2e3351;
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 5px 10px 18px #bff0ec;

}

img {
    width: 100px;
    padding: 15px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 5px 10px 18px #2e3351;
}

img:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 5px 10px 18px #bff0ec;
}

/*TODO make disappear before players hits play button*/
.playerChoices{

}
.playerChoice {
    background-color: #7c6c82;
    border: solid 10px #7c6c82;
    border-radius: 40px;
    font-family: 'Source Code Pro', monospace;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 10px 18px #2e3351;
}

.computerChoice {
    background-color: #7c6c82;
    border: solid 10px #7c6c82;
    border-radius: 40px;
    font-family: 'Source Code Pro', monospace;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 5px 10px 18px #2e3351;
}

/*TODO make disappear before players hits play button*/
/*.messageboard {*/
/*    display: flex;*/
/*    background-color: #7c6c82;*/
/*    color: #bff0ec;*/
/*    padding: 25px;*/
/*    margin: 20px auto 20px auto;*/
/*    font-size: 20px;*/
/*    font-family: 'Source Code Pro', monospace;*/
/*    line-height: 1;*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/


.result{
    display: block;
    background-color: #7c6c82;
    border: solid 10px #7c6c82;
    border-radius: 40px;
    color: #bff0ec;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    margin: 20px auto 20px auto;
    box-shadow: 5px 10px 18px #2e3351;
}



footer {
    background-color: #bff0ec;
    color: #7c6c82;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}


